@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

body {
    min-height: 300px;
  text-align: center;
  background: #FFFCE8;
  font-family: Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 30% 10% 30% 30%;
  grid-gap: 5px;
  grid-template-areas:
    "titles titles titles titles"
    "res res res res"
    "tones tones tones tones"
    "newroll newroll newroll newroll";
}

.cube {
  height: 70%;
  border:solid 3px;
  font-size: 20px;
  padding: 10px;
}

.title {
  font-size: 2em;
  grid-area: titles;
}

.res {
  grid-area: res;
}

#new-button {
  grid-area: newroll;
}

#new-button:hover {
  transform: scale(1.05);
}

#scale-tones {
    grid-area: tones;
    font-size: 35px;
}